<div class="mini-game-info">
  <div class="mini-game-title">
    <h4>Mini Game</h4>
  </div>
  <div class="mini-game-description">
    <p>Test your skills in this mini game!</p>
  </div>
</div>
<div class="player-stats">
  <img class="avatar" alt="user avatar" [src]="'https://github.com/thatkookooguy.png'">
  <kb-user-lives [currentLives]="userLives"></kb-user-lives>
</div>
<div class="game-stats">

</div>
<iframe
  *ngIf="miniGameUrl"
  class="game-frame"
  title="Mini Game"
  frameborder="0"
  allowfullscreen
  [src]="miniGameUrl"
></iframe>