<h6>Repositories</h6>
<div class="field label prefix" [class.invalid]="searchControl.invalid && (searchControl.touched || searchControl.dirty)">
  <i>search</i>
  <input type="text" id="search-repositories" [formControl]="searchControl">
  <label for="search-repositories">Search Repositories</label>
  <ng-container *ngIf="searchControlErrors$ | async as searchControl">
    <span *ngIf="searchControlErrors$ | async as searchControlErrors" class="error">
    {{ searchControlErrors | firstError }}
  </span>
  </ng-container>
</div>
<ng-container *ngIf="$repositories | async as repositories">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <table class="striped">
          <thead>
            <tr>
              <th>Repository</th>
              <th>Git Cloud</th>
              <th>Owner</th>
              <th>Organization</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repository of repositories.data">
              <td>
                <a
                  routerLinkActive="fill"
                  [routerLink]="['/repos', repository.fullname]"
                >
                {{ repository.fullname }}
                </a>
              </td>
              <td>{{ repository.system }}</td>
              <td>{{ repository.owner.username }}</td>
              <td>{{ repository.organizationName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>