<header>
  <nav style="gap: 0.5em; --outline-variant: transparent;">
    <!-- <button class="circle transparent">
      <i>menu</i>
    </button> -->
    <h5>
      <a class="logo" [routerLink]="['/']">
        <img src="https://kibibit.io/kibibit-assets/logo-achi.svg" class="logo" alt="achievibit logo">
        achievibit
      </a>
    </h5>
    <a class="chip" routerLinkActive="fill" [routerLink]="['/repos']">Repositories</a>
    <a class="chip" routerLinkActive="fill" [routerLink]="['/users']">Users</a>
    <a class="chip" routerLinkActive="fill" [routerLink]="['/orgs']">Organizations</a>
    <div class="max"></div>
    <button *ngIf="loggedInUser" class="circle transparent" type="button" (click)="openMenu()">
      <img class="responsive" alt="user avatar" [src]="loggedInUser.avatar">
      <!-- <dialog *ngIf="menuOpen" #userMenuDialog class="right blur" [class.active]="menuOpen">
        <article class="transparent" style="padding: 0em;">
          <div class="row">
            <img class="circle small" alt="user avatar" [src]="loggedInUser.avatar">
            <div class="max">
              <div style="font-size: 1.1em"><strong>{{ loggedInUser.username }}</strong></div>
              <div style="font-size: 0.8em">Some text here</div>
            </div>
            <button class="circle small transparent" type="button" (click)="closeMenu()">
              <i>close</i>
            </button>
          </div>
        </article>
        <nav class="drawer">
          <a class="row" [routerLink]="['/profile']">
            <i class="material-symbols-outlined">
              person
            </i>
            <span>Your Profile</span>
          </a>
          <a class="row" [routerLink]="['/profile/integrations']">
            <i class="material-symbols-outlined">
              integration_instructions
            </i>
            <span>Integrations</span>
          </a>
          <a class="row" [routerLink]="['/profile/settings']">
            <i class="material-symbols-outlined">
              settings
            </i>
            <span>Settings</span>
          </a>
          <hr class="small">
          <a class="row" [routerLink]="['/app-status']">
            <i class="material-symbols-outlined">
              heart_check
            </i>
            <span>Achievibit Status</span>
          </a>
          <hr class="small">
          <a class="row" tabindex="0" (click)="logout()" (keydown.enter)="logout()">
            <i class="material-symbols-outlined">
              logout
            </i>
            <span>Sign out</span>
          </a>
        </nav>
      </dialog> -->
      <menu *ngIf="menuOpen" class="left no-wrap">
        <a class="row" routerLinkActive="fill" [routerLink]="['/profile/overview']">
          <i class="material-symbols-outlined">
            person
          </i>
          <span>Your Profile</span>
        </a>
        <a class="row" routerLinkActive="fill" [routerLink]="['/profile/integrations']">
          <i class="material-symbols-outlined">
            integration_instructions
          </i>
          <span>Integrations</span>
        </a>
        <a class="row" routerLinkActive="fill" [routerLink]="['/profile/settings']">
          <i class="material-symbols-outlined">
            settings
          </i>
          <span>Settings</span>
        </a>
        <hr class="small">
        <a class="row" routerLinkActive="fill" [routerLink]="['/app-status']">
          <i class="material-symbols-outlined">
            heart_check
          </i>
          <span>Achievibit Status</span>
        </a>
        <hr class="small">
        <a class="row" tabindex="0" (click)="logout()" (keydown.enter)="logout()">
          <i class="material-symbols-outlined">
            logout
          </i>
          <span>Sign out</span>
        </a>
      </menu>
    </button>
  </nav>
</header>
<progress *ngIf="loading$ | async" class="orange-text"></progress>
<main class="responsive padding">
  <router-outlet />
</main>
<kb-achievement *ngIf="loggedInUser" [username]="loggedInUser.username"></kb-achievement>