<header>
  <nav>
    <!-- <button class="circle transparent">
      <i>menu</i>
    </button> -->
    <h5 class="max">
      <a class="logo" [routerLink]="['/']">
        <img src="https://kibibit.io/kibibit-assets/logo-achi.svg" class="logo" alt="achievibit logo">
        achievibit
      </a>
    </h5>
    <button *ngIf="loggedInUser" class="circle transparent" type="button" (click)="openMenu()">
      <img class="responsive" alt="user avatar" [src]="loggedInUser.avatar">
      <menu *ngIf="menuOpen" class="left no-wrap">
        <a class="row" [routerLink]="['/profile']">
          <i class="material-symbols-outlined">
            person
          </i>
          <span>Your Profile</span>
        </a>
        <a class="row" [routerLink]="['/profile/integrations']">
          <i class="material-symbols-outlined">
            integration_instructions
          </i>
          <span>Integrations</span>
        </a>
        <a class="row" [routerLink]="['/profile/settings']">
          <i class="material-symbols-outlined">
            settings
          </i>
          <span>Settings</span>
        </a>
        <hr class="small">
        <a class="row">
          <i class="material-symbols-outlined">
            logout
          </i>
          <span>Sign out</span>
        </a>
      </menu>
    </button>
  </nav>
</header>
<progress *ngIf="loading$ | async" class="orange-text"></progress>
<main class="responsive padding">
  <router-outlet />
</main>
