header {
  z-index: 40000000000000;
}

.menu {
  margin: 1em;
  z-index: 50000000;
}

.mobile-show {
  display: none;
}

menu hr {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}