<div class="padding">
<div class="container">
  <h4>Application Status</h4>
  <div class="grid">
    <ng-container *ngIf="socketConnectionStatus$ | async as socketConnectionStatus">
    <article class="s3">
      <div class="status-name">Socket Connection</div>
      <span *ngIf="socketConnectionStatus.connected; else disconnected">
        <p class="status kb-up"><i class="material-symbols-outlined">radio_button_checked</i> Connected</p>
      </span>
      <ng-template #disconnected>
        <p class="status kb-down"><i class="material-symbols-outlined">radio_button_unchecked</i> Disconnected</p>
      </ng-template>
    </article>
    </ng-container>
    <ng-container *ngIf="healthCheck$ | async as healthCheck">
      <article *ngFor="let service of healthCheck.app?.details | keyvalue" class="s3">
        <div class="status-name">{{ service.key }}</div>
        <span *ngIf="service.value.status === 'up'; else disconnected">
          <p class="status kb-up"><i class="material-symbols-outlined">radio_button_checked</i> OK</p>
        </span>
        <ng-template #disconnected>
          <p class="status kb-down"><i class="material-symbols-outlined">radio_button_unchecked</i> ERROR</p>
        </ng-template>
      </article>
    </ng-container>
    <ng-container *ngIf="apiDetails$ | async as apiDetails">
      <article class="s3">
        <div class="status-name">Version</div>
        <span>
          <p class="status kb-up">{{ apiDetails.version }}</p>
        </span>
      </article>
    </ng-container>
  </div>
</div>
<div class="container">
  <h4>External Apis Health</h4>
  <div class="grid">
    <ng-container *ngIf="healthCheck$ | async as healthCheck">
      <article *ngFor="let service of healthCheck.externalApi?.details | keyvalue" class="s3">
        <div class="status-name">{{ service.key }}</div>
        <span *ngIf="service.value.status === 'up'; else disconnected">
          <p class="status kb-up"><i class="material-symbols-outlined">radio_button_checked</i> OK</p>
        </span>
        <ng-template #disconnected>
          <p class="status kb-down"><i class="material-symbols-outlined">radio_button_unchecked</i> ERROR</p>
        </ng-template>
      </article>
    </ng-container>
  </div>
</div>
<div class="container">
  <h4>DevTools Health</h4>
  <div class="grid">
    <ng-container *ngIf="healthCheck$ | async as healthCheck">
      <article *ngFor="let service of healthCheck.devTools?.details | keyvalue" class="s3">
        <div class="status-name">{{ service.key }}</div>
        <span *ngIf="service.value.status === 'up'; else disconnected">
          <p class="status kb-up"><i class="material-symbols-outlined">radio_button_checked</i> OK</p>
        </span>
        <ng-template #disconnected>
          <p class="status kb-down"><i class="material-symbols-outlined">radio_button_unchecked</i> ERROR</p>
        </ng-template>
      </article>
    </ng-container>
  </div>
</div>