<nav class="tabbed small">
  <a
    tabindex="0"
    routerLink="overview"
    routerLinkActive="active"
    [class.active]="activeTab === 'overview'"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="activeTab = 'overview'"
    (keyup)="activeTab = 'overview'"
  >
    <i>info</i>
    <span>Overview</span>
  </a>
  <a
    tabindex="0"
    routerLink="integrations"
    routerLinkActive="active"
    [class.active]="activeTab === 'integrations'"
    (click)="activeTab = 'integrations'"
    (keyup)="activeTab = 'integrations'"
  >
    <i>style</i>
    <span>Integrations</span>
  </a>
  <a
    tabindex="0"
    routerLink="settings"
    routerLinkActive="active"
    [class.active]="activeTab === 'settings'"
    (click)="activeTab = 'settings'"
    (keyup)="activeTab = 'settings'"
  >
    <i>settings</i>
    <span>Settings</span>
  </a>
</nav>
<div class="page padding active">
  <router-outlet></router-outlet>
</div>